:root {
  /* Colors */
  --color-black: hsl(0, 0%, 7%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-bg: hsl(300, 5.26%, 96.27%);
  --color-grey-100: hsl(214, 17%, 92%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-400: hsl(224, 10%, 45%);
  --color-grey-500: hsl(217, 19%, 35%);
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 70%);
  --color-purple-500: hsl(263, 55%, 52%);
  /* Typography */
  --font-family-base: 'Barlow Semi Condensed', sans-serif;
  --font-size-base: 1rem;
  --font-weight-base: 500;
  --font-weight-semi-bold: 600;
  --line-height-base: 1.4;
  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-200: 1rem;
  --spacing-400: 2rem;
  --spacing-700: 3.5rem;
  --spacing-1000: 5rem;
  /* Border radius */
  --radius-base: 0.5rem;
  /* Miscellaneous */
  --shadow-base: 2.5rem 3.75rem 3.125rem -3rem rgba(72, 85, 106, 0.24);
  --height-min: 0.0625rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--color-white-bg);
  color: var(--color-white);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
}

.testimonials-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(5, max-content);
  gap: var(--spacing-400);
  margin: var(--spacing-700) var(--spacing-400);
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: calc(var(--height-min) * -1);
  border: 0;
  width: var(--height-min);
  height: var(--height-min);
  padding: 0;
  white-space: nowrap;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
  border-radius: var(--radius-base);
  padding: var(--spacing-400);
  box-shadow: var(--shadow-base);
}

.testimonial-header {
  font-size: 1.25rem;
  font-weight: var(--font-weight-semi-bold);
  line-height: 1.2;
}

.testimonial-description {
  font-size: 0.8125rem;
}

.testimonial-daniel {
  background-color: var(--color-purple-500);

  & .student-image {
    border-color: var(--color-purple-300);
  }

  & .student-status,
  & .testimonial-description {
    color: var(--color-purple-50);
  }
}

.testimonial-jonathan {
  background-color: var(--color-grey-500);

  & .student-image {
    border-color: var(--color-grey-200);
  }

  & .student-status,
  & .testimonial-description {
    color: var(--color-grey-100);
  }
}

.testimonial-jeanette,
.testimonial-kira {
  background-color: var(--color-white);

  & .student-image {
    border-color: var(--color-grey-200);
  }

  & .student-name,
  & .testimonial-header {
    color: var(--color-grey-500);
  }

  & .student-status,
  & .testimonial-description {
    color: var(--color-grey-400);
  }
}

.testimonial-patrick {
  background-color: var(--color-dark-blue);

  & .student-image {
    border-color: var(--color-grey-400);
  }

  & .student-name,
  & .testimonial-header {
    color: var(--color-grey-200);
  }

  & .student-status,
  & .testimonial-description {
    color: var(--color-grey-100);
  }
}

.student {
  display: flex;
  gap: var(--spacing-200);
}

.student-image {
  box-sizing: content-box;
  border-width: 0.125rem;
  border-style: solid;
  border-radius: 50%;
  object-fit: cover;
}

.student-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
  line-height: 1.1;
}

.student-name {
  font-size: 0.8125rem;
  font-weight: var(--font-weight-semi-bold);
}

.student-status {
  font-size: 0.6875rem;
}

@media (min-width: 48rem) {
  .testimonials-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, max-content);
    grid-template-areas:
      'daniel daniel'
      'jonathan jeanette'
      'patrick patrick'
      'kira kira';
    margin: var(--spacing-1000) auto;
    max-width: 40.5rem;
  }

  .testimonial-daniel {
    grid-area: daniel;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: 23.5rem;
  }
  .testimonial-jonathan {
    grid-area: jonathan;
  }
  .testimonial-jeanette {
    grid-area: jeanette;
  }
  .testimonial-patrick {
    grid-area: patrick;
  }
  .testimonial-kira {
    grid-area: kira;
  }
}

@media (min-width: 90rem) {
  .testimonials-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
      'daniel daniel jonathan kira'
      'jeanette patrick patrick kira';
    margin: auto;
    max-width: 72rem;
  }
}
