:root {
  /* Colors */
  --color-black: hsl(0, 0%, 7%);
  --color-dark-blue: hsl(219, 29%, 14%);
  --color-white: hsl(0, 0%, 100%);
  --color-grey-100: hsl(214, 17%, 92%);
  --color-grey-200: hsl(0, 0%, 81%);
  --color-grey-400: hsl(224, 10%, 45%);
  --color-grey-500: hsl(217, 19%, 35%);
  --color-purple-50: hsl(260, 100%, 95%);
  --color-purple-300: hsl(264, 82%, 70%);
  --color-purple-500: hsl(263, 55%, 52%);
  /* Typography */
  --font-family-base: 'Barlow Semi Condensed', sans-serif;
  --font-size-base: 1rem;
  --font-weight-base: 500;
  --font-weight-semi-bold: 600;
  --line-height-base: 1.4;
  /* Spacing */
  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  /* Border radius */
  --radius-base: 0.5rem;
  /* Miscellaneous */
  --shadow-base: 2.5rem 3.75rem 3.125rem -3rem rgba(72, 85, 106, 0.24);
  --height-min: 0.0625rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  background-color: var(--color-grey-100);
  color: var(--color-white);
  font: var(--font-weight-base) var(--font-size-base) / var(--line-height-base)
    var(--font-family-base);
  scroll-behavior: smooth;
}

.page-wrapper {
  display: flex;
  min-height: 100vh;
  font-size: 0.8125rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 2rem;
  margin: 4rem 2rem;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.grid-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: var(--shadow-base);

  & .item-header {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.2;
  }

  & .item-description {
    line-height: 1.4;
  }
}

.item-a {
  background-color: var(--color-purple-500);

  & img {
    border-color: var(--color-purple-300);
  }

  & .author-status,
  & .item-description {
    color: var(--color-purple-50);
  }
}

.item-b {
  background-color: var(--color-grey-500);

  & img {
    border-color: var(--color-grey-200);
  }

  & .author-status,
  & .item-description {
    color: var(--color-grey-100);
  }
}

.item-c,
.item-e {
  background-color: var(--color-white);

  & img {
    border-color: var(--color-grey-200);
  }

  & .author-name,
  & .item-header {
    color: var(--color-grey-500);
  }

  & .author-status,
  & .item-description {
    color: var(--color-grey-400);
  }
}

.item-d {
  background-color: var(--color-dark-blue);

  & img {
    border-color: var(--color-grey-400);
  }

  & .author-name,
  & .item-header {
    color: var(--color-grey-100);
  }

  & .author-status,
  & .item-description {
    color: var(--color-grey-200);
  }
}

.author-avatar {
  display: flex;
  gap: 1rem;

  & img {
    box-sizing: content-box;
    border-width: 0.125rem;
    border-style: solid;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    object-fit: cover;
  }

  & figcaption {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    line-height: 1.1;
  }

  & .author-status {
    font-size: 0.6875rem;
  }
}

@media (min-width: 48rem) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'item-a item-a'
      'item-b item-c'
      'item-d item-d'
      'item-e item-e';
    margin: 5rem auto;
    max-width: 41rem;
  }

  .item-a {
    grid-area: item-a;
    background-image: url('./images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position-x: 23.5rem;
  }
  .item-b {
    grid-area: item-b;
  }
  .item-c {
    grid-area: item-c;
  }
  .item-d {
    grid-area: item-d;
  }
  .item-e {
    grid-area: item-e;
  }
}

@media (min-width: 90rem) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      'item-a item-a item-b item-e'
      'item-c item-d item-d item-e';
    margin: auto;
    max-width: 72rem;
  }

  .item-a {
    grid-area: item-a;
  }
  .item-b {
    grid-area: item-b;
  }
  .item-c {
    grid-area: item-c;
  }
  .item-d {
    grid-area: item-d;
  }
  .item-e {
    grid-area: item-e;
  }
}
